<body>
<header>
<h1>APOLLO 13 MISSION</h1>
</header>

<div>
	<input class="search" type="text" placeholder="Search..." ng-model="searchFor" size="20" />
      <div class="right_col">
	<div class="panel panel-primary" ng-repeat="event in events | filter: { title: searchFor } ">
		<div class="panel-heading">
			<a href="index.html#/event/{{event.name}}">
				<span class="title" ng-bind="event.title"></span>
			</a>
			<div class="date">{{ event.date }}</div>
		</div>
		<div class="panel-body">
			{{ event.description }}
		</div>
	</div>
</div>
    <div class="left_col">
	<div class="cl">
		<h3>Add an Apollo 13 Event </h3>
		<div class=" panel panel-default">
			<div class="alert alert-danger" ng-show="add_event_error">
				{{add_event_error}}
			</div>
			<form name="add_event_form" novalidate>
				<div class="panel-heading">
					<input type="text" placeholder="title" size="20" ng-model="adding_event.title" ng-required="true"  />
					<div style="float:right">
						<input 
						type="text" 
						placeholder="yyyy/mm/dd" 
						size="10" 
						ng-model="adding_event.date" 
						ng-required="true" />
					</div>
				</div>
				<div class="panel-body">
					<textarea placeholder="description" rows="4" ng-model="adding_event.description" ng-required="true"  ></textarea>
					
				</div>
				<button ng-click="addEvent(adding_event)" class="btn btn-success">Add Event</button>
			</form>
		</div>
	</div>
	<p class="cl">There are {{ events.length }} events available.</p>
</div>

</body>